#calculator{
    width: 500px;
    height: 800px;
    background-color: #ffffff1a;
    margin: auto;
    margin-top: 100px;
    border-radius: 30px;
    box-shadow: 0 0 10px 0px #0000008c;
    padding: 20px;
    max-width: 500px;

}
#display{
    width: 90%;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    background-color: #000000ac;
    border-radius: 20px;
    color: white;
    font-size: 40px;
    text-align: left;
    padding: 10px;
    border: none;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 450px;
    margin: auto;
    margin-top: 50px;
}

button{
    width:100px;
    height:100px;
    border: none;
    border-radius: 50%;
    background-color: #000000ac;
    color: white;
    font-weight: bold;
    padding:25px;
    font-size: 25px;
}

button:hover{
    background-color: #000000e0;
    cursor: pointer;
}
.btn{
    background-color: royalblue;
    color: white;
}
.btn:hover{
    background-color: blue;
     cursor: pointer;
}